/* Folha de estilo para os elementos dentro dos aside da página inicial. */

/* Todas as telas */
/* Primeiro aside */
aside {
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
}

article#talentosDesc {
    background-color: var(--corFundoAzul);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

article#talentosDesc h3 {
    margin-top: 0;
}

article#talentosDesc iframe {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

article#talentosDesc a {
    background-color: var(--corFundoBranca);
    color: var(--corFundoRoxa);
    padding: 0.5rem;
    width: 50%;
    border-radius: 0.25rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

article#talentosDesc a:visited {
    color: black;
}

/* Segundo aside */
aside#tabela {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0;
}

aside#tabela section#musicasInfoTabela {
    background-color: var(--corFundoAzul);
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

section#talentosInfo table {
    margin: auto;
    border-radius: 0.5rem;
    overflow: hidden;
    border-spacing: 0;
    /* Bordas separadas com zero espaçamento, com o overflow: hidden forçando as células internas a respeitarem o border-radius. */
}

table tr, th ,td {
    border-style: solid;
    border-width: 0.1rem;
    padding: 0.7rem
}

table tbody, table thead tr, table thead th, table tfoot, table tfoot tr, table tfoot td {
    border-width: 0;
}

table tbody td, table tbody th {
    background-color: var(--corFundoBranca);
    border-color: var(--corFundoAzul);
}

table thead tr, tfoot tr {
    background-color: var(--corFundoRoxa);
    color: var(--corFundoBranca);
}

table thead tr th:not(th:last-of-type) {
    border-right-width: 0.1rem;
}
/* Exceto o último elemento th */

article#talentosDesc.short-slide-up, section#musicasInfoTabela {
    animation: short-slide-up 0.5s forwards;
}