body {
    display: grid;
    grid-template-columns: 70fr 30fr;
    grid-template-rows: 8vh 90vh 220vh 8vh;
    grid-template-areas: "h h" "m a" "tw tw" "f f";
    margin: auto;
}       

header {
    grid-area: h;
    display: flex;
    background-color: pink;
    justify-content: space-between;
}

header h1 {
    grid-area: hh1;
    display: flex;
    align-items: center;
    margin: 1rem;
    background-color: aqua;
}

header a {
    grid-area: ha;
    display: flex;
    padding: 1rem;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    background-color: aliceblue;
}

main { 
    grid-area: m;
    display: grid;
    grid-template-rows: 6vh 84vh;
    grid-template-areas: "g" "ti";
    background-color: lightblue;
}

aside {
    grid-area: a;
    display: grid;
    background-color: lightseagreen;
    grid-template-rows: 45vh 45vh;
    grid-template-areas: "td" "tic";
    padding-right: 1rem;
    padding-left: 1rem;
}

footer {
    grid-area: f;
}

nav#grupos {
    grid-area: g;
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

button.nomesGrupos {
    width: 100%;
    margin: 0.6rem;
}

article#talentosDesc {
    grid-area: td;
}

section#talentosInfoComentarios {
    grid-area: tic;
    overflow-y: scroll;
    overflow-x: hidden;
}

#talentosInfoComentarios form {
    margin: 1rem;
    background-color: wheat;
}

#talentosInfoComentarios table {
    background-color: yellowgreen;
    justify-self: center;
}

#talentosInfoComentarios h2 {
    background-color: blueviolet;
    justify-self: center;
}

section#talentosImgs {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 42vh 42vh;
    grid-template-areas: "pri seg ter" "qua qui sex";
}

#talentosImgs img {
    height: 100%;
    justify-self: center;
    align-self: start;
}

section#talentosWallpapers {
    grid-area: tw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 6.5fr 3.5fr;
    grid-template-rows: 75vh 75vh 75vh;
    grid-template-areas: "p1 a1" "p2 a2" "p3 a3";
}

div.papel1 {
    grid-area: p1;
    background-image: url(../assets/img/wallpapers/holomyth.webp);
    background-size: cover;
    background-position: center;
}

div.papel2 {
    grid-area: p2;
    background-image: url(../assets/img/wallpapers/council.jpg);
    background-size: cover;
    background-position: center;
}

div.papel3 {
    grid-area: p3;
    background-image: url(../assets/img/wallpapers/advent.webp);
    background-size: cover;
    background-position: center;
}

div.album1 {
    grid-area: a1;
    background-image: url(../assets/img/capas/thousand.webp);
    background-size: cover;
    background-position: center;
}

div.album2 {
    grid-area: a2;
    background-image: url(../assets/img/capas/rise.png);
    background-size: cover;
    background-position: center;
}

div.album3 {
    grid-area: a3;
    background-image: url(../assets/img/capas/rebellion.jpg);
    background-size: cover;
    background-position: center;
}