/* Folha de estilo da página inicial. */

section#gruposImagens {
    display: grid;
    grid-area: g;
    grid-template-rows: 6vh 84vh;
    grid-template-areas: "ng" "ti";
}

nav#grupos {
    grid-area: ng;
    display: flex;
    justify-content: space-between;
}

button.nomesGrupos {
    width: 100%;
    margin: 0.6rem;
}

section#talentosImgs {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 42vh 42vh;
    grid-template-areas: "pri seg ter" "qua qui sex";
}

#talentosImgs div {
    position: relative;
    justify-self: center;
}

#talentosImgs p.nomeTalento {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-weight: bold;
    font-size: 2rem;
}

#talentosImgs img {
    height: 100%;
}

section#comentarios {
    overflow: auto;
}