/* Folha de estilo príncipal, que se aplica a ambas as páginas. */

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --corFundoBranca: white;
    --corFundoRoxa: rgb(59, 0, 184);
    --corFundoAzul: rgb(190, 239, 255);
}

/* Todas as telas */
body {
    font-family: Inclusive Sans, sans-serif;
    background-image: url(../assets/img/layout/fundo.jpg);
    background-size: cover;
    background-repeat: repeat;
    margin: auto;
}

header {
    background-color: var(--corFundoBranca);
    margin: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: flex;
    align-items: center;
    margin: 1.1rem;
    font-weight: 300;
}

header a {
    display: flex;
    padding: 1rem;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

header a:hover {
    background-color: var(--corFundoRoxa);
    color: var(--corFundoBranca);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

footer {
    background-color: var(--corFundoBranca);
    padding: 0.5rem 0;
}

footer blockquote a {
    color: var(--corFundoRoxa);
}

footer blockquote a:visited {
    color: black;
}

summary {
    cursor: pointer;
}

.hoverRoxo:hover {
    box-shadow: 0px 0px 5px var(--corFundoRoxa);
}

.hoverBranco:hover {
    box-shadow: 0px 0px 5px var(--corFundoBranca);
}

/* Animações */
@keyframes fade-out {
    from { opacity: 1 } to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 } to { opacity: 1 }
}

.fade-out {
    animation: fade-out 0.5s forwards;
}

.fade-in {
    animation: fade-in 0.5s forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(30%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes short-slide-up {
    from {
        transform: translateY(10%);
    }
    to {
        transform: translateY(0);
    }
}

.slide-up {
    animation: slide-up 0.5s forwards;
}