/* Folha de estilo príncipal */

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --corFundoBranca: white;
    --corFundoRoxa: rgb(59, 0, 184);
    --corFundoAzul: rgb(190, 239, 255);
}

/* Apenas telas de computador */
@media (min-width: 1200px) and (orientation: landscape) {
    body {
        display: grid;
        margin: auto;
        background-image: url(../assets/img/layout/fundo.jpg);
        background-size: cover;
        background-repeat: repeat;
        font-family: Inclusive Sans, sans-serif;
        grid-template-columns: 70fr 30fr;
        grid-template-rows: 11vh 360vh 8vh;
        grid-template-areas: 'h h' 'm m' 'f f';
    }

    header {
        grid-area: h;
        display: flex;
        justify-content: space-between;
        background-color: var(--corFundoBranca);
        margin: 1rem;
        border-radius: 0.5rem;
    }

    main {
        grid-area: m;
    }

    header h1 {
        display: flex;
        align-items: center;
        margin: 1.1rem;
        font-weight: 300;
    }

    header:hover {
        box-shadow: 0px 0px 5px var(--corFundoRoxa);
    }

    header a {
        display: flex;
        padding: 1rem;
        align-items: center;
        text-decoration: none;
        font-size: 1.2em;
        color: black;
        font-weight: bold;
    }

    header a:hover {
        background-color: var(--corFundoRoxa);
        color: var(--corFundoBranca);
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    footer {
        grid-area: f;
        background-color: var(--corFundoBranca);
    }
}