/* Folha de estilos para os wallpapers exibidos na página inicial. */

section#talentosWallpapers {
    grid-area: tw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 75vh;
    grid-template-areas: "p1 p2 p3";
}

div.papel1 {
    grid-area: p1;
    background-image: url(../assets/img/wallpapers/holomyth.webp);
    background-size: cover;
    background-position: center;
}

div.papel2 {
    grid-area: p2;
    background-image: url(../assets/img/wallpapers/council.jpg);
    background-size: cover;
    background-position: center;
}

div.papel3 {
    grid-area: p3;
    background-image: url(../assets/img/wallpapers/advent.webp);
    background-size: cover;
    background-position: center;
}

div.album1 {
    grid-area: a1;
    background-image: url(../assets/img/capas/thousand.webp);
    background-size: cover;
    background-position: center;
}

div.album2 {
    grid-area: a2;
    background-image: url(../assets/img/capas/rise.png);
    background-size: cover;
    background-position: center;
}

div.album3 {
    grid-area: a3;
    background-image: url(../assets/img/capas/rebellion.jpg);
    background-size: cover;
    background-position: center;  
}