/* Folha de estilos para os wallpapers exibidos na página inicial. */

/* Todas as telas */
section#talentosWallpapers {
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
}

div.papel1 {
    grid-area: p1;
    background-image: url(../assets/img/wallpapers/justice.png);
    background-size: cover;
    background-position: right;
}

div.papel2 {
    grid-area: p2;
    background-image: url(../assets/img/wallpapers/holomyth.webp);
    background-size: cover;
    background-position: center;
}

div.papel3 {
    grid-area: p3;
    background-image: url(../assets/img/wallpapers/council.jpg);
    background-size: cover;
    background-position: left;
}

#talentosWallpapers p {
    position: absolute;
    left: 1rem;
    background-color: var(--corFundoBranca);
    padding: 0.5rem;
    color: var(--corFundoRoxa);
    border-radius: 0.25rem;
}

/* Apenas telas de computador */
@media (min-width: 1200px) and (orientation: landscape) {
    section#talentosWallpapers {
        grid-area: tw;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 100vh;
        grid-template-areas: "p1 p2 p3";
    }
}