/* Folha de estilos para os wallpapers exibidos na página inicial. */

/* Todas as telas */
section#talentosWallpapers {
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
}

div.wp {
    position: relative;
    overflow: hidden;
}

div.papel1 {
    grid-area: p1;
}

div.papel2 {
    grid-area: p2;
}

div.papel3 {
    grid-area: p3;
}

div.papel1 div.camada-atual {
    background-image: url(../assets/img/wallpapers/justice.png);
}

div.papel2 div.camada-atual {
    background-image: url(../assets/img/wallpapers/holomyth.webp);
}

div.papel3 div.camada-atual {
    background-image: url(../assets/img/wallpapers/council.jpg);
}

div.camada-atual, div.camada-nova {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

div.camada-atual {
    z-index: 1;
    opacity: 1;
}

div.camada-nova {
    z-index: 2;
    opacity: 0;
}

.papel1 .camada-atual, .papel1 .camada-nova {
    background-position: right;
}

.papel2 .camada-atual, .papel2 .camada-nova {
    background-position: center;
}

.papel3 .camada-atual, .papel3 .camada-nova {
    background-position: left;
}

/* Animações */
@keyframes deslizar-direita {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

div.wp.papel2.slide-right {
    animation: deslizar-direita 0.8s forwards;
}

#talentosWallpapers p {
    z-index: 3;
    position: absolute;
    left: 1rem;
    background-color: var(--corFundoBranca);
    padding: 0.5rem;
    color: var(--corFundoRoxa);
    border-radius: 0.25rem;
}

/* Apenas telas de computador */
@media (min-width: 1200px) and (orientation: landscape) {
    section#talentosWallpapers {
        grid-area: tw;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 100vh;
        grid-template-areas: "p1 p2 p3";
    }
}